@{
    Layout = null;
}
<div class="row" >
    <div class="col-md-8">
        <h2 class="sub-header">Person Details</h2>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>DOB</th>
                        <th>Email</th>
                        <th>Cell</th>
                    </tr>
                </thead>
                <tbody ng-repeat="person in persons">
                    <tr>
                        <td>{{person.ID}}</td>
                        <td>{{person.ID}}</td>
                        <td>{{person.Age}}</td>
                        <td>{{person.DOB|'Date':'dd:MM:yy'}}</td>
                        <td>{{person.Email}}</td>
                        <td>{{person.Cell}}</td>
                        <td><button class="btn-warning" ng-click="update(person)">Edit</button></td>
                        <td><button class="btn-danger" ng-click="delete(person)">Delete</button></td>
                    </tr>
                </tbody>
            </table>
            <button class="btn-danger" ng-click="hi()">Delete</button>{{999999}}
        </div>
    </div>
    <br />
    <div class="col-md-8">
        <h2 class="sub-header">Person Entry</h2>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="col-sm-2 control-label">Name</label>
                <div class="col-sm-10">
                    <input class="form-control" id="txtName" type="text" ng-model="person.Name" placeholder="type name here" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Age
                </label>
                <div class="col-sm-10">
                    <input class="form-control" id="txtAge" type="text" ng-model="person.Name" 
                           placeholder=" type age here">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    DOB
                </label>
                <div class="col-sm-10">
                    <input type="text" id="txtDOB" class="form-control" ng-model="person.DOB" value="{{person.DOB}}"
                           placeholder=" type dob here">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Cell
                </label>
                <div class="col-sm-10">
                    <input type="text" id="txtCell" class="form-control" ng-model="person.Cell" value="{{person.Cell}}"
                           placeholder=" type Cell Number here">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Email
                </label>
                <div class="col-sm-10">
                    <input type="text" id="txtEmail" class="form-control" ng-model="person.Email" value="{{person.Email}}"
                           placeholder=" type Email here">
                </div>
            </div>
        </form>
    </div>
</div>

